@model IEnumerable<TeslaAcademy.Models.Coursemain>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Coursename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courseduration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeslot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Startdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Closingdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Backlog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Percentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maxnoofcandidate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isactive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Org)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Coursename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courseduration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timeslot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Closingdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enddate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Backlog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maxnoofcandidate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isactive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Createddate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Org.Orgid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Courseid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Courseid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Courseid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
